h1{
    text-align: center;
    font-size: clamp(28px,5vw,48px);
    background-color: lightcoral;
    padding: 10px;
    margin-bottom: 20px;
}

.employees{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 1100vh;
    margin: auto;
}

.card{
    position: relative;
    background-color: rgb(134, 125, 125);
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.card:hover{
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 15px 30px #bbb;
}

.badge {
    position: absolute;
    top: 15px;
    right: 15px;

    padding: 5px 10px;
    background: green;
    color: white;
    border-radius: 20px;

    z-index: 2;
}
.profile {
    font-size: 70px;
    margin-bottom: 15px;

    animation: floating 3s ease-in-out infinite;
}
.card h2{
    margin: 8px;
}
.card p {
    color: #f3ecec;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #1769aa;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    transform: scale(1.08);
    background: #0d4775;
}
/* Animation */

@keyframes floating {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }

}
/* Tablet */

@media (max-width: 900px) {

    .employees {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* Mobile */

@media (max-width: 600px) {

    .employees {
        grid-template-columns: 1fr;
    }

    body {
        padding: 25px 15px;
    }

}