body {

  font-family: Arial;

}


nav {

  background: #222;

  padding: 15px;

}


nav a {

  color: white;

  margin: 20px;

  text-decoration: none;

}


.card {

  border: 1px solid gray;

  padding: 20px;

  margin: 15px;

  border-radius: 10px;

}