@media(max-width:1000px) {
    /* header */

    .header {
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .navbar {
        flex: 1;
    }

    .nav {
        width: 100%;
        justify-content: flex-start;
        gap: 18px;
        overflow-x: auto;
        padding-bottom: 14px;
    }

    .nav a {
        flex: 0 0 auto;
    }

    /* hero */

    .hero {
        flex-direction: column;
        gap: 60px;
        padding: 70px 20px;
    }

    .hero .container,
    .hero-card {
        width: min(700px, 100%);
        box-sizing: border-box;
    }

    .hero-card {
        margin: 0 auto;
    }

    .about {
        padding: 70px 20px;
    }

    .about-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .about-image {
        order: 1;
    }

    .about-content {
        order: 2;
    }

    .image-box {
        max-width: 500px;
        height: 350px;
        margin: auto;
    }

    .about-content h2 {
        font-size: 36px;
    }

    /* services */
    .services {
        padding: 70px 20px;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-heading h2 {
        font-size: 36px;
    }

    /* portifolio */
    .portfolio {
        padding: 70px 20px;
    }

    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* statstics */

    .statistics {
        padding: 50px 20px;
    }

    .statistics-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .stat {
        border-right: none;
    }

    /* testimonials */
    .testimonials {
        padding: 70px 20px;
    }

    .testmonial-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* contact */

    .contact {
        padding: 70px 20px;
    }

    .contact-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .contact-info {
        grid-column: 1;
    }

    .contact-details {
        grid-column: 1;
        margin-top: 0;
    }

    .contact-form {
        grid-column: 1;
        grid-row: auto;
    }

    /* fotter */

    .footer-grid {
        grid-template-columns: 2fr 1fr 1fr;
        gap: 40px;
    }

    .socials {
        margin-top: 10px;
    }
}
